// CONFIG
PORT=3000
CORS=*

//MONGO
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=

// USERS
DEFAULT_ADMIN_PASSWORD=root
DEFAULT_USER_PASSWORD=secret

// AUTH
AUTH_JWT_SECRET=

// API KEYS
PUBLIC_API_KEY_TOKEN=390e354ea5edc69c3e47c35ce203eb4468d5cf0c672d4348ca3caef8329c26e5
ADMIN_API_KEY_TOKEN=4d7a47cf5e1e8dda69412853faff1dd7aa9d82fa26081abecc85cf93d98caf0e